name: CDB creator

on: 
  push:
  schedule:
    - cron:  '0 */4 * * *'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' 
        architecture: 'x64' 
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run a python sript
      run: python formater.py
    - name: Auto commit
      run: |
           git config user.name "sunx2"
           git config user.email "email"
           git add .
           git commit -m "generated"
           git push
